@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @light;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}

@keyframes blink-resize {
    25% {
      color: #eeeeee;
    }

    to {
        color: #9d0006;
    }
}

@define-color light #D8DEE9;
@define-color warning #ebcb8b;
@define-color bg #1a1a1a;
@define-color critical #cc241d;
@define-color tray @bg;
@define-color mode @bg;

* {
    font-family: "JetBrainsMono NerdFont";
    border: solid;
    border-radius: 0px;
    min-height: 0;
    font-weight: bold;
}

#waybar {
    background: rgba(16, 16, 16, 0);
    font-family: "JetBrainsMono NerdFont";
    font-size: 8.6pt;
    font-weight: Bold;
}
.modules-left {
    padding-left:0px;
}
.modules-right {
    padding-right:0px
}

#custom-cava_mviz {
    color: #1db954;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 4px;
    padding: 0 8 0 4px;
}

#mode {
    animation-name: blink-resize;
    animation-duration: 4s;
}

#clock.time {
    font-size: 11;
    color: #db9fe9;
    padding: 0 8 0 8px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#custom-scratchpad_indicator {
    font-size: 11;
    color: #abebe2;
    padding: 0 8 0 8px;
    margin-top: 3px;
    margin-bottom: 3px; 
}

#custom-playerctl {
    font-size: 11;
    color: #ebebeb;
    padding: 0 8 0 8px;
    margin-top: 3px;
    margin-bottom:3px;
    margin-left: 4px;
}
#custom-playerctl.paused{
    color: #4c566a;
    padding: 0 8 0 8px;
}

#workspaces button {
    font-size: 11px;
    color: #ebebeb;
    padding: 0 8 0 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-width: 0em;
}
#workspaces button.focused {
    color: #111827;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #8abae1;
}
#pulseaudio {
    font-size: 11;
    color: #f1f59f;
    padding: 0 8 0 8px;
    margin-top: 3px;
    margin-bottom: 3px; 
}
#pulseaudio.muted {
    color: #4c566a;
    padding: 0 8 0 8px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#tray {
    padding: 0 8 0 8px;
    margin-top: 3px;
    margin-bottom: 3px;
}
#mode {
    color: #eeeeee;
    margin-top: 2px;
    margin-bottom: 3px;
    margin-left: 2px;
}
#window {
    font-size: 11px;
    color: #ebebeb;
    margin-top: 2px;
    margin-bottom: 2px;

}
